.bannerBlock {
    width: 100%;
    margin-top: 6rem;
}

.bannerBlock img {
    width: 150%;
    position: relative;
    right: 25%;
}

@media screen and (min-width:1280px) {
    .bannerBlock img {
        width: 100%;
        position: initial;
    }
}